#rooms {
    background: linear-gradient(to bottom, #3abe41,#af0);
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#555;
    border-radius: 20px;
    overflow: hidden;
}
.plus {
    cursor: pointer;
    --t:2px;   /* Thickness */
    --l:40px;  /* size of the symbol */
    --s:10px;  /* space around the symbol */
    --c1:#fff; /* Plus color*/
    --c2:#000; /* background color*/
  
    display:inline-block;
    width:var(--l);
    height:var(--l);
    padding:var(--s);
    box-sizing:border-box; /*Remove this if you don't want space to be included in the size*/
    
    background:
      linear-gradient(var(--c1),var(--c1)) content-box,
      linear-gradient(var(--c1),var(--c1)) content-box,
      var(--c2);
    background-position:center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat:no-repeat;
    margin-left: 20px;
  }
  
  .radius {
    border-radius:50%;
    position: relative;
  }

  .plus p {
    position: absolute;
    bottom: 30px;
    background:#fff;
    padding: 20px;
    border: 2px solid#000;
    border-radius: 20px;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    width: 200px;
    left: -80px;
  }

  .plus:hover p {
    opacity: 1;
  }

  .button.play {
    border-style: solid;
    border-width: 37px;
    border-color:transparent transparent transparent #fff;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-width: 10px 0px 10px 14px;
  }

  .background-play {
    display: inline-block;
    background: #008000;
    padding: 8px 7px 8px 11px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
  }